/* MAIN DROPDOWN */
.dropdown .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s ease;
  display: block;
  margin-top: 0;
}

/* Show on hover */
.dropdown:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* DROPEND (submenu) */
.dropend .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateX(10px);
  transition: 0.3s ease;
  display: block;
  top: 0;
  left: 100%;
  margin-left: 0.125rem;
}

/* Show dropend on hover */
.dropend:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.dropdown-item {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 28px;
  padding: 0.125rem 1.2rem;
}

.dropdown-menu > li:hover > .dropdown-item {
  color: #754ffe;
}
